In [68]:
import os 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import cv2
from Utils.DataExtractor import DataExtractor

In [6]:
DATA_DIR = os.path.join(os.getcwd(), "data")
print(os.listdir(DATA_DIR))

['test', 'train', 'sample_submission.csv', 'train.csv']

In [17]:
data_extractor = DataExtractor

train_path = os.path.join(DATA_DIR, "train.csv")

train_metadata = data_extractor.read_csv(fpath=train_path)
if train_metadata.empty:
    print("EMPTY DATA SET")
print(train_metadata.head())

           Image         Id
0  0000e88ab.jpg  w_f48451c
1  0001f9222.jpg  w_c3d896a
2  00029d126.jpg  w_20df2c5
3  00050a15a.jpg  new_whale
4  0005c1ef8.jpg  new_whale

In [23]:
print(" Number of entries : ", train_metadata.shape)

 Number of entries :  (25361, 2)

In [18]:
print("Number of unique IDs provided :", train_metadata["Id"].nunique())

Number of unique IDs provided : 5005

In [77]:
idgroup = train_metadata.groupby(by="Id", as_index=False).count()
idgroup.columns = ["Id", "count"]
idgroup.sort_values(by="count", inplace=True, ascending=False)
idgroup.reset_index(drop=True)

             Id  count
0     new_whale   9664
1     w_23a388d     73
2     w_9b5109b     65
3     w_9c506f6     62
4     w_0369a5c     61
5     w_700ebb4     57
6     w_3de579a     54
7     w_564a34b     51
8     w_fd3e556     50
9     w_88e4537     49
10    w_2b069ba     48
11    w_d405854     47
12    w_789c969     45
13    w_f0fe284     45
14    w_5e8e218     40
15    w_778e474     40
16    w_343f088     40
17    w_5a2634c     37
18    w_a9304b9     37
19    w_60ce6fc     37
20    w_6822dbc     36
21    w_af367c3     35
22    w_1ca9ab1     34
23    w_f765256     34
24    w_17b0d3a     33
25    w_d72771c     32
26    w_8c25681     31
27    w_08630fd     31
28    w_6cda039     31
29    w_51fc1fc     30
...         ...    ...
4975  w_ad01432      1
4976  w_491bdcb      1
4977  w_ad2bb89      1
4978  w_48cc590      1
4979  w_4982a49      1
4980  w_ad6df15      1
4981  w_ad7b758      1
4982  w_ad880b8      1
4983  w_48b6083      1
4984  w_48b1730      1
4985  w_adcaf2a      1
4986  w_497efb9      1
4987  w_49ae16f      1
4988  w_abd9d0b      1
4989  w_4a1b777      1
4990  w_abeab1e      1
4991  w_abee142      1
4992  w_4ac8e76      1
4993  w_4ab6b16      1
4994  w_4a8467f      1
4995  w_ac26398      1
4996  w_ac608c7      1
4997  w_49cd60d      1
4998  w_ac6aee2      1
4999  w_ac73445      1
5000  w_49ee8e0      1
5001  w_49e0d44      1
5002  w_49d1bcd      1
5003  w_49ce813      1
5004  w_ffe8693      1

[5005 rows x 2 columns]

In [38]:
# Ignore new_whale and plot each class
image_dir = os.path.join(DATA_DIR, "train")

In [ ]:
counter = 0
idlist = idgroup["Id"].values
for id in idlist:
    if id == "new_whale":
        continue
    # Get a list of all the images for this class
    image_list = train_metadata[train_metadata["Id"] == id]["Image"].values
    print("------------------------------------------------------------------------------------------------------------ ")
    fig = plt.figure(figsize=(20,8))
    nrows = 2
    ncols = 4
    for i in range(min(nrows*ncols, len(image_list))):
        image = image_list[i]
        img_path = os.path.join(image_dir, image)
        ax1 = fig.add_subplot(nrows,ncols,i+1)
        img = cv2.imread(img_path)
        ax1.imshow(img)
#         break
    fig.suptitle(id, size=25)
    plt.show()
    
    counter += 1
    if counter > 5:
        break

------------------------------------------------------------------------------------------------------------